/*(
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/
.header{
  --height: 200px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  height: var(--height/2);

  padding: 10px;
  background-color:chartreuse;

  font-family: 'Pacifico';
}
.logo{
  font-size: 3rem;

  text-transform: uppercase;
}
.phone{
  font-size: 2rem;
}
.reclama{
  display: none;
  height: calc(var(--height) - 20) ;
  width: calc(var(--height)/13*8);
}

@media (min-width:576px){
  .header{
    background-color: navajowhite;
  }
}
@media (min-width:992px){
  .header{
    height: var(--height);
    background-color: olive;
  }
  .reclama{
    display: inline-block;
    background-image: url(./../images/Cat_November_2010-w600.jpg);
    background-size: cover;
  }
}
@media (min-width:1440px) and (min-resolution: 400dpi){
  .reclama{
    background-image: url(./../images/Cat_November_2010-1a.jpg);
  }
}