h1{
  color: teal;

  font-family: 'Pacifico', cursive;
  font-size: 3rem;

  text-align: center;
  text-transform: capitalize;
}
h2{
  margin-top: 1em;

  background-color: orange;
  color:dimgray;

  font-size: 1.8rem;
  font-style: italic;
}
p{
  padding: 1em;

  color:#ccc;

  font-size: 1.2rem;
  line-height: 1.2em;
}