:root{
  font-size: 18px;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

.events-list{
  max-width: 400px;
  margin: auto;
}
.event{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 10px;
  margin: 10px;
  background-color: pink;
  
}
.event>*{
  flex-grow: 0.5;
  padding: 0.5em;
  /* margin: auto; */
}
.event-name{
  margin-left: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-align: center; */
}
.event-date{
  text-align: right;
}